<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Commbox</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/default.css">
	<!-- Start Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

	
</head>
<body>
	  <nav class="navbar navbar-expand-lg navbar-beb bg-bb-primary">
	    <a class="navbar-brand" href="#">Commbox</a>
	    <div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
		    	<li class="nav-item active">
		      		<a class="nav-link" href="../controller/lista.php">Home <span class="sr-only">(current)</span></a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="../controller/cadastro.php">Novo Cadastro</a>
		    	</li>
		    </ul>
		</div>    	
	  </nav>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<div class="container" id="home">
		<!-- INCLUDE BLOCK : home -->
	</div>

</body>
</html>
